<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="StockConn" connectionString="Data Source=.;Initial Catalog=stock;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Stock_Management.Properties.Settings.stockConnectionString"
      connectionString="Data Source=.;Initial Catalog=stock;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>